.projectTypeList {

  ul {
      margin-bottom: 1.5rem;
  }

  li {
      min-height: inherit;
      height: auto;
      display: inline;
      padding: 0.3rem;
      background-color: #ebebeb;
      margin-right: 0.5em;
      font-size: 0.8rem;
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1280px) {
  }

}
